@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* RESET */
*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

/* VARIABLES */
:root {
    --FF: "Space Grotesk", sans-serif;
}

/* PLAYER */
.player {
    position: absolute;
    padding: 0.25em;
    left: 15px;
    bottom: 15px;
    width: 20%;
    height: 35%;
    border-radius: 20px 30px 40px;
    background-color: black;
    box-shadow: 5px 5px rgb(255, 0, 0, 0.9);
}

/* GENERAL */

body {
    max-width: 800px;
    margin: 0;
    background: url(/img/1.png);
    height: max-content;
    background-repeat: no-repeat;
}

body.background1 {
    background: url(/img/1.png) no-repeat center center fixed;
    background-size: cover;
}

body.background2 {
    background: url(/img/2.jpg) no-repeat center center fixed;
    background-size: cover;
}

body.background3 {
    background: url(/img/3.png) no-repeat center center fixed;
    background-size: cover;
}

body.background4 {
    background: url(/img/4.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* SETTINGS */

#popup_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
}

#popup_bg.show {
    opacity: 1;
    visibility: visible;
}

#popup_main_div {
    position: absolute;
    width: 450px;
    height: 410px;
    border: 2px solid black;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: move;
    border-radius: 20px;
}

#close_popup_div {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

#close_popup_div p {
    margin-top: 1px;
    font-family: var(--FF);
    font-weight: bold;
}

#settings_div {
    text-align: center;
    font-family: var(--FF);
    color: #002765;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    align-items: center;
    margin-bottom: 20px;
}

.navlink {
    color: #000000;
    font-family: var(--FF);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.navlink:hover {
    cursor: pointer;
}

.navlink:hover {
    background-color: rgb(0, 0, 0, 0.5);

    transition-duration: 0.5s;
}

.navlink:active {
    box-shadow: 0 px #666;
    transform: translateY(4px);
}


#general {
    color: #000000;
    font-family: var(--FF);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.background,
#background {
    color: #000000;
    font-family: var(--FF);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #000000;
}

.setting_section {
    color: #000000;
    font-family: var(--FF);
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px;
    background-color: gold;
}

.settings_wrapper {
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.settings_nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}


.settings_content {
    flex-grow: 1;
}

/* TASK */

#popup_main_task {
    position: fixed;
    width: 450px;
    height: 410px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#todo_app.show {
    opacity: 1;
    visibility: visible;
}

#close_popup_task {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid black;
    text-align: center;
    right: 7px;
    top: 7px;
    cursor: pointer;
}

#close_popup_task p {
    margin-top: 1px;
    font-family: var(--FF);
    font-weight: bold;
}

.add,
#clear_task {
    font-family: var(--FF);
    padding: 14px 24px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    color: #fff;
    background: linear-gradient(135deg, #ff4b2b, #ff416c);
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 65, 108, 0.4);
}

.add:hover,
#clear_task:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(255, 65, 108, 0.6);
}

.add:active,
#clear_task:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(255, 65, 108, 0.4);
}

#clear_task {
    position: absolute;
    right: 168px;
    bottom: 2px;
    margin: 0px 0px 0px 0px;
}

/* TIMER */

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    text-align: center;
    padding: 10px 0;
}

.timer {
    padding: 10px;
    width: 600px;
    box-sizing: border-box;
}

.button_container {
    margin-top: 20x;
    display: flex;
    justify-content: center;
}

.button {
    color: #fff;
    font-family: var(--FF);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
}

.button:hover {
    background-color: rgb(0, 0, 0, 0.5);

    transition-duration: 0.5s;
}

.button:active {
    box-shadow: 0 px #666;
    transform: translateY(4px);
}

.hidden {
    display: block;
}

.timer_display {
    font-size: 5em;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
}

#buttons {
    margin-top: 20px;
}

#start,
#stop,
#reset,
#setting {
    color: #fff;
    font-family: var(--FF);
    border: none;
    border-radius: 50px;
    padding: 25px 25px;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
}

#start:hover {
    background-color: rgb(0, 128, 0, 0.5);
    transition-duration: 0.5s;
}

#stop:hover {
    background-color: rgb(218, 4, 4, 0.5);
    transition-duration: 0.5s;
}

#reset:hover {
    background-color: rgb(37, 76, 150, 0.5);
    transition-duration: 0.5s;
}

#setting:hover {
    background-color: rgb(204, 0, 255, 0.5);
    transition-duration: 0.5s;
}

#stop:active {
    background-color: rgb(218, 4, 4);
    box-shadow: 0 px #666;
    transform: translateY(4px);
}

#start:active {
    background-color: green;
    box-shadow: 0 px #666;
    transform: translateY(4px);
}

#reset:active {
    background-color: rgb(37, 76, 150);
    box-shadow: 0 px #666;
    transform: translateY(4px);
}

#setting:active {
    background-color: rgb(204, 0, 255);
    box-shadow: 0 px #666;
    transform: translateY(4px);
}

/* HEADER */

.header {
    position: absolute;
    top: 0;
    padding: 2em 1em;
    width: 100vw;
    left: 0;
    margin: 0;
}

.h1 {
    font-family: var(--FF);
    font-size: medium;
    color: whitesmoke;
    position: absolute;
    padding: 0.25em;
    left: 15px;
    top: 15px;
    background-color: gold;
}

.h1_task {
    font-family: var(--FF);
    background-color: transparent;
    font-size: large;
    color: whitesmoke;
    position: absolute;
    padding: 0.25em;
    right: 15px;
    top: 15px;
    bottom: 20x;
    background-color: gold;
}

.h1_task:hover {
    cursor: pointer;
}

#todo_app {
    position: absolute;
    top: 74vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 450px;
    max-width: 90vw;
    background: #fff;
    padding: 40px 30px 30px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: move;
}

#popup_main_task {
    position: fixed;
    width: 450px;
    height: auto;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 50px;
}

#h2 {
    text-align: center;
    font-family: var(--FF);
    color: #002765;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

ul li {
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    font-family: var(--FF);
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(/img/unchecked.png);

    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(/img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}


/* FOOTER */
.footer {
    font-family: var(--FF);
    position: fixed;
    color: white;
    font-size: 10px;
    left: 0;
    bottom: 0;
    padding: 0.1em;
    width: 100%;
    text-align: center;
}
